@charset "utf-8";

/* ------ */
/* header */
/* ------- */
header {
    text-align: right;
    background-color: #e3ddbe;
}

.navbar {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
}

.navbar-brand {
    margin-left: 2vw;
}
.navbar-nav {
    margin-left: 2vw;
}
/* 実装できていないリンク文字のスタイル */
/* ==> オーバーレイ状態下での白文字の適用 */

/* .navbar-nav {

} */
.nav-link {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    z-index: 1;
}

#top_image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: inline-block;
    margin-top: 17px;
}

#menu-button {
    margin-top: 20px;
    z-index: 2;
}

.overlayMenu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 25px;
    left: 0;
    background-color: #000000;
    opacity: 0.3;
    z-index: 3;
}

.overlay-inner {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#overlay {
    background-color: #ffffff;
    opacity: 0.3;
}
.nav-searchbar {
    position: fixed;
    top: 33px;
    right: 80px;
    width: auto;
    height: auto;
}

/* ------------- */
/*      main     */
/* --------------*/
main {
    height: auto;
    background-color: #dedfdc;
}


/* ------------------ */
/*    slick-slider   */
/* ------------------ */
/* .container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
}

.slick-slide {
    text-align: center;
    color: #419be0;
    background: #ffffff;
} */

/* ---------------- */
/*      news         */
/* -----------------*/
.content-list {
    width: 100vw;
    height: 190vw;
    padding-top: 60px;
    /* height: 65vw; */
}

#autumn {
    background-image: url("../images/halloween_small.jpg");
    /* background-size: 100%; */
    background-size: contain;
    opacity: 0.7;
}

.overlay-news {
    width: 100%;
    height: 95%;
    background-color: #dedfdc;
    margin: 0 auto;
    opacity: 0.9;
}
/* ---------------- */
/*      menu         */
/* -----------------*/
.menu-container {
    width: 100vw;
    height: 1000px;
    /* height: auto; */
}

.menu-list {
    display: flex;
}

.menu-item {
    margin: 10px 10px 10px 10px;
    list-style: none;
}

/* ------------------ */
/*  terms_of_service  */
/* -------------------*/



.terms_container {
    padding: 20px 50px 20px 50px;
}

.terms-box {
    margin-top: 40px;
    padding-top: 20px;
}
.terms-box > p {
    margin-top: 20px;
}
.terms-item {
    list-style: none;
}

/* ------------------ */
/*      contact_us    */
/* -------------------*/

#contact_us {
    margin-top: 20vh;
    padding-bottom: 20%;
}

.form-title > h5 {
    text-align: center;
}
select {
    display: block;
    width: 50%;
}
.input_name {
    display: block;
    width: 80%;
}

.input_context {
    display: block;
    width: 80%;
    /* height: 200px; */
    height: 50vh;
}

.form_box {
    width: 100vw;
    height: auto;
    /* padding: 20px 50px 20px 150px; */
    padding: 10% 5% 10% 20%;
}
