@charset "utf-8";

@media screen and (min-width: 1px) and (max-width: 119px) {
    .nav-link { margin: 0 0 0 0; }
    .nav-searchbar {
                      position: fixed;
                      top: 100px;
                      right: 0px;
                      width: auto;
                      height: auto;
                    }
    .container {
                 padding: 0px;
    }
}
@media screen and (min-width: 120px) and (max-width: 239px) {
    .nav-link { margin: 0 0 0 0; }
    .nav-searchbar {
                      position: fixed;
                      top: 150px;
                      right: 10px;
                      width: auto;
                      height: auto;
                    }
    .container {
                 padding: 0px;
    }

}
@media screen and (min-width: 240px) and (max-width: 359px) {
    .nav-link { margin: 0 0 0 0; }
    .nav-searchbar {
                      position: fixed;
                      top: 200px;
                      right: 20px;
                      width: auto;
                      height: auto;
                    }

}
@media screen and (min-width: 360px) and (max-width: 479px) {
    .nav-link { margin: 0 0 0 0; }
    .nav-searchbar {
                      position: fixed;
                      top: 33px;
                      right: 80px;
                      width: auto;
                      height: auto;
                    }

}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .nav-link { margin: 0 0 0 0; }
    .nav-searchbar {
                      position: fixed;
                      top: 33px;
                      right: 80px;
                      width: auto;
                      height: auto;
                    }

}
@media screen and (min-width: 768px) and (max-width: 969px) {
    .nav-link { margin-top: 20px; }
    .nav-searchbar {
                      position: fixed;
                      top: 33px;
                      right: 80px;
                      width: auto;
                      height: auto;
                    }
}
@media screen and (min-width: 970px) and (max-width: 10000px) {
    .nav-link { margin-top: 20px; }
    .nav-searcher {
                    position: fixed;
                    top: 33px;
                    right: 80px;
                    width: auto;
                    height: auto;
    }
}
/* .overlayMenu をレスポンシブ対応にする */
/* (width= 970px)以上の時==>オーバーレイが自動解除 */
